<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api.abi.games/public/sdk.js"></script>
<style>
  body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
  }

  #game {
    margin: 0;
    padding: 0;
    background: black;
  }

  #banner-ads {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
  }

  
</style>
  <title>
    Burger-Stack
  </title>
</head>

<body>
</body>

</html>